In [2]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 

sns.set(style="darkgrid")

In [3]:
df = pd.read_csv('money.csv')

In [4]:
df.head()

,ID,Account,Category,CheckNumber,Credit,Debit,Memo,Merchant,Status,SubCategory,TranDate,zTranDate
0,1,Checking,Business Expense,101.0,NaN,250.00,December,Landlord,NaN,Rent,27-Nov,0
1,2,Checking,Groceries,NaN,NaN,54.35,16,Aldi,NaN,NaN,27-Nov,0